<p>Hi <%=@tutor.first_name%> <%=@tutor.last_name%>,</p>

<p>A Q&A task has been posted. Kindly check out the <%= link_to "details", tutors_qna_url(@tutor.id)%> to see if you can do it! If you can, charge the client any price below P500.</p>