%nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.sticky-top
  .container-fluid
    %a.navbar-brand{href: root_path}
      = image_tag "logo-white.png"
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", type: "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        -if user_signed_in?

          %li.nav-item
            %a.nav-link{href: users_homeworks_path} Homeworks
          %li.nav-item
            %a.nav-link{href: users_chats_path} Messages
          %li.nav-item
            %a.nav-link{href: pick_type_users_homeworks_path} New order!
        -else 
          %li.nav-item
            %a.nav-link{href: pick_type_path} New order!
      
      -if user_signed_in?
        %ul.navbar-nav.ms-auto.mb-2.mb-lg-0
          %li.nav-item.dropdown
            %a#navbarDropdown.nav-link.dropdown-toggle.active{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", href: "#", role: "button"}= current_user.first_name
            %ul.dropdown-menu.dropdown-menu-end{"aria-labelledby" => "navbarDropdown"}
              %li
                %a.dropdown-item{href: "#"} Profile
              %li
                %hr.dropdown-divider/
              %li
                %a.dropdown-item{href: destroy_user_session_path, data: {method: :delete}} Log out
      -else
        %ul.navbar-nav.ms-auto.mb-2.mb-lg-0
          %li.nav-item
            %a.nav-link{href: new_user_session_path} Login
          %li.nav-item
            %a.nav-link{href: new_user_registration_path} Sign up
      -# %form.d-flex
      -#   %input.form-control.me-2{"aria-label" => "Search", placeholder: "Search", type: "search"}/
      -#   %button.btn.btn-outline-success{type: "submit"} Search

      