<div class="flex flex-col h-screen sticky left-0 top-0 min-w-[220px] py-4 px-1">
  <div class="grid justify-items-center w-full mb-1">
    <%= image_tag "logo-white.png", class: "h-6" %>
  </div>
  <div class="px-2.5 mt-4">
    <div class="px-4 py-2 text-sm rounded-full bg-neutral-900 border-[3px] border-neutral-700 text-neutral-400 font-medium">
       Powered by GPT-4
    </div>
  </div>
  <div class="grid w-full mt-[1rem]">
      <%= render "users/shared/sidebar_item", title: "Home", path: root_path, icon: "search" %>
      <%= render "users/shared/sidebar_item", title: "Cheko AI", path: cheko_ai_path, icon: "robot" %>
  </div>
</div>
