= render 'admins/shared/header'
= render 'admins/shared/sidebar'
.container-fluid
  .row 
    .col-xl-8.col-lg-10.col-sm-12.ms-auto.me-auto 
      .container.mt-5
        %h4= @tutor.name
  .row 
    .col-xl-8.col-lg-10.col-sm-12.ms-auto.me-auto 
      .container.mt-5
        .card 
          .card-body
            .row 
              .col-6.text-start
                %h3 Ongoing
            .table-responsive
              %table.homeworks-scrollX.display.nowrap
                %thead
                  %tr
                    %th.text-start id
                    %th.text-center Order Date
                    %th.text-center Order Type
                    %th.text-center Type
                    %th.text-center Deadline
                    %th.text-center Subject
                    %th.text-center Word count
                    %th.text-center Priority
                    %th.text-center Login School Account
                    %th.text-center Client
                    %th.text-center Order Number
                    %th.text-center Hours Late
                    %th.text-center Prof
                    %th.text-center Grade
                    %th.text-center Status
                    %th.text-end Action
                %tbody
                  =render partial: 'tutors/homeworks/ongoing', collection: @ongoing, as: :home
        .card.mt-5
          .card-body
            .row 
              .col-6.text-start
                %h3 History
            .table-responsive
              %table.homeworks-scrollX.display.nowrap
                %thead
                  %tr
                    %th.text-start id
                    %th.text-center Order Date
                    %th.text-center Order Type
                    %th.text-center Type
                    %th.text-center Deadline
                    %th.text-center Subject
                    %th.text-center Word count
                    %th.text-center Priority
                    %th.text-center Login School Account
                    %th.text-center Client
                    %th.text-center Order Number
                    %th.text-center Hours Late
                    %th.text-center Prof
                    %th.text-center Grade
                    %th.text-center Status
                %tbody
                  =render partial: 'tutors/homeworks/history', collection: @history, as: :home

= javascript_pack_tag 'datatable_basic'