%main.h-screen.flex.relative
  = render "users/shared/sidebar"
  .flex.flex-col.flex-1.my-2.5.mr-2.5.rounded-lg.bg-neutral-900.border-1.border-neutral-700.overflow-auto
    .container-fluid.mt-2
      = image_tag "prof-pick-new.png", class: "img-fluid mx-auto d-block"
    .container.text-center.mt-2.mb-5
      .row.mt-5.text-white
        %p Cheko Profs-To-Pick is a database that contains up-to-date and complete reviews of professors with metrics specific to different universities. Researching 36 professors on Profs to Pick Facebook pages will take you 2 days. With Cheko Profs-to-Pick, you can do it in 1 hour!
        %form{action: "/test", autocomplete: "off"}
          .autocomplete
            %input#myInput.form-control{name: "prof", type: "text", placeholder:"Search the name of your Prof"}/
    .col-xl-6.col-lg-6.col-md-6.col-sm-12{style: "padding: 9.3em;"}
    = render "users/shared/footer"

= javascript_pack_tag 'professors/index'
