.dark .dataTables_wrapper label{
  color: white;
}

.dark .dataTables_info {
  color: white !important;
}

.dark select {
  color: white !important;
}

.dark .paginate_button {
  color: white !important;
}

.dark .paginate_button.current {
  color: white !important;
}