
.sidenav.d-flex.flex-column.flex-shrink-0.p-3.text-white.bg-dark
  %ul.nav.nav-pills.flex-column.mb-auto.mt-5
    %li.nav-item
      %a.nav-link.text-white{href: managers_homeworks_path}
        %svg.bi.me-2{height: "16", width: "16"}
          %use{"xlink:href" => "#home"}
        Tasks
  %hr/